:root {
  --c-base: #1d2630;
  --c-hover: #3f3f3f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  max-width: fit-content;
  background-color: var(--c-base);
}

#display h1 {
  font-weight: 700;
  font-size: 5rem;
}

#display #oldres{
  display: none;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 8rem);
  grid-template-rows: repeat(4, 8rem);
}

#keys button {
  width: 7rem;
  height: 7rem;
  border-radius: 4rem;
  border: 0 solid #fff;
  font-weight: 1000;
  font-size: 3rem;
}

#keys button:hover{
  background-color: var(--c-hover) !important;
}

#keys button:active{
  background-color: gray !important;
}