* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  max-width: fit-content;
  background-color: #1d2630;
}

#display h1 {
  font-weight: 700;
  font-size: 5rem;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 9rem);
  grid-template-rows: repeat(4, 9rem);
}

#keys button {
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
  border: 0 solid #fff;
  font-weight: 1000;
  font-size: 3rem;
}

#keys button:hover{
  background-color: #3f3f3f !important;
}

#keys button:active{
  background-color: gray !important;
}

#author {
  text-align: right;
  font-size: larger;
}
